nav {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  img {
    border-radius: 50%;
  }
}


header {
  padding-block: 20px 32px;
  font: var(--text-md);
  background-color: #F5F5F5;
}


#profile {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

#profile > div {
  /* max-width: 384px; */
  display: flex;
  img {
    border-radius: 50%;
  }
}


#about {
  max-width: 384px;
  margin-left: 32px;
  margin-block: 8px;

  h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  }
}


#topics {
  justify-content: left;
  align-items: center;
  list-style: none;
  width: 280px;
  gap: 8px;
}

#topics li {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}